@import "../../variables.scss";

.smart-home {
  padding: 0 3rem;

  &__heading {
    margin-bottom: 5rem;
    text-align: center;
  }

  &__content {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-bottom: 15rem;
  }

  &__text {
    color: $color-text;
    width: 60%;

    & p:first-child {
      margin-bottom: 2.5rem;
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
